In [17]:
import pandas as pd, os

In [19]:
os.getcwd()

'C:\\Users\\shesh'

In [23]:
print(os.listdir())

['.anaconda', '.bash_history', '.cache', '.conda', '.condarc', '.config', '.continuum', '.eclipse', '.git', '.gitconfig', '.idea', '.idlerc', '.ipynb_checkpoints', '.ipython', '.jenkins', '.jupyter', '.m2', '.matplotlib', '.ms-ad', '.openjfx', '.p2', '.python_history', '.soapuios', '.ssh', '.tooling', '3D Objects', 'anaconda3', 'anaconda_projects', 'AppData', 'Application Data', 'Contacts', 'Cookies', 'default-soapui-workspace.xml', 'Downloads', 'eclipse-workspace', 'edb_npgsql.exe', 'edb_pgagent_pg17.exe', 'edb_pgbouncer.exe', 'Favorites', 'git', 'learningplace', 'Links', 'Local Settings', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'pandabasics.ipynb', 'postgresql_12.exe', 'postgresql_13.exe', 'Postman', 'PrintHood', 'PycharmProjects', 'Recent', 'Roaming', 'Saved Games', 'Searches', 'SendTo', 'soapui-settings.xml', 'SoapUI-Tutorials', 'source', 'Start Menu', 'Templates', 'Untitled.ipynb', 'Videos']

In [35]:
import pandas as pd

df = pd.read_csv("C:\\Users\\shesh\\OneDrive\\Desktop\\shopping_trends.csv")
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [37]:
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols: 'UsecolsArgType' = None,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters: 'Mapping[Hashable, Callable] | None' = None,
    true_values: 'list | None' = None,
    false_values: 'list | None' = None,
    skipinitialspace: 'bool' = False,
    skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool | lib.NoDefault' = <no_default>,
    skip_blank_lines: 'bool' = True,
    parse_dates: 'bool | Sequence[Hashable] | None' = None,
    infer_datetime_format: 'bool | lib.NoDefault' = <no_default>,
    keep_date_col: 'bool | lib.NoDefault' = <no_default>,
    date_parser: 'Callable | lib.NoDefault' = <no_default>,
    date_format: 'str | dict[Hashable, str] | None' = None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    on_bad_lines: 'str' = 'error',
    delim_whitespace: 'bool | lib.NoDefault' = <no_default>,
    low_memory: 'bool' = True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions | None' = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Character or regex pattern to treat as the delimiter. If ``sep=None``, the
    C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator from only the first valid
    row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
    In addition, separators longer than 1 character and different from
    ``'\s+'`` will be interpreted as regular expressions and will also force
    the use of the Python parsing engine. Note that regex delimiters are prone
    to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, optional
    Alias for ``sep``.
header : int, Sequence of int, 'infer' or None, default 'infer'
    Row number(s) containing column labels and marking the start of the
    data (zero-indexed). Default behavior is to infer the column names: if no ``names``
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly to ``names`` then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a :class:`~pandas.MultiIndex` on the columns
    e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : Sequence of Hashable, optional
    Sequence of column labels to apply. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : Hashable, Sequence of Hashable or False, optional
  Column(s) to use as row label(s), denoted either by column labels or column
  indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
  will be formed for the row labels.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g., when you have a malformed file with delimiters at
  the end of each line.
usecols : Sequence of Hashable or Callable, optional
    Subset of columns to select, denoted either by column labels or column indices.
    If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in ``names`` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
    preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
    for columns in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to ``True``. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
dtype : dtype or dict of {Hashable : dtype}, optional
    Data type(s) to apply to either the whole dataset or individual columns.
    E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
    Use ``str`` or ``object`` together with suitable ``na_values`` settings
    to preserve and not interpret ``dtype``.
    If ``converters`` are specified, they will be applied INSTEAD
    of ``dtype`` conversion.

    .. versionadded:: 1.5.0

        Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
        the default determines the ``dtype`` of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The 'pyarrow' engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict of {Hashable : Callable}, optional
    Functions for converting values in specified columns. Keys can either
    be column labels or column indices.
true_values : list, optional
    Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
false_values : list, optional
    Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : int, list of int or Callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (``int``)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
    Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
    per-column ``NA`` values.  By default the following values are interpreted as
    ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
    "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
    "n/a", "nan", "null ".

keep_default_na : bool, default True
    Whether or not to include the default ``NaN`` values when parsing the data.
    Depending on whether ``na_values`` is passed in, the behavior is as follows:

    * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
      is appended to the default ``NaN`` values used for parsing.
    * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
      the default ``NaN`` values are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
      the ``NaN`` values specified ``na_values`` are used for parsing.
    * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
      strings will be parsed as ``NaN``.

    Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
    ``na_values`` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of ``na_values``). In
    data without any ``NA`` values, passing ``na_filter=False`` can improve the
    performance of reading a large file.
verbose : bool, default False
    Indicate number of ``NA`` values placed in non-numeric columns.

    .. deprecated:: 2.2.0
skip_blank_lines : bool, default True
    If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
    The behavior is as follows:

    * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
      ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
    * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
      each as a separate date column.
    * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
      as a single date column. Values are joined with a space before parsing.
    * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
      result 'foo'. Values are joined with a space before parsing.

    If a column or index cannot be represented as an array of ``datetime``,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an ``object`` data type. For
    non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
    :func:`~pandas.read_csv`.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
    format of the ``datetime`` strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.

    .. deprecated:: 2.0.0
        A strict version of this argument is now the default, passing it has no effect.

keep_date_col : bool, default False
    If ``True`` and ``parse_dates`` specifies combining multiple columns then
    keep the original columns.
date_parser : Callable, optional
    Function to use for converting a sequence of string columns to an array of
    ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. pandas will try to call ``date_parser`` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by ``parse_dates`` into a single array
    and pass that; and 3) call ``date_parser`` once for each row using one or
    more strings (corresponding to the columns defined by ``parse_dates``) as
    arguments.

    .. deprecated:: 2.0.0
       Use ``date_format`` instead, or read in as ``object`` and then apply
       :func:`~pandas.to_datetime` as-needed.
date_format : str or dict of column -> format, optional
    Format to use for parsing dates when used in conjunction with ``parse_dates``.
    The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
    `strftime documentation
    <https://docs.python.org/3/library/datetime.html
    #strftime-and-strptime-behavior>`_ for more information on choices, though
    note that :const:`"%f"` will parse all the way up to nanoseconds.
    You can also pass:

    - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
        time string (not necessarily in exactly the same format);
    - "mixed", to infer the format for each element individually. This is risky,
        and you should probably use it along with `dayfirst`.

    .. versionadded:: 2.0.0
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If ``True``, use a cache of unique, converted dates to apply the ``datetime``
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

iterator : bool, default False
    Return ``TextFileReader`` object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Number of lines to read from the file per chunk. Passing a value will cause the
    function to return a ``TextFileReader`` object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
    other key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

    .. versionadded:: 1.5.0
        Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str (length 1), optional
    Character acting as the thousands separator in numerical values.
decimal : str (length 1), default '.'
    Character to recognize as decimal point (e.g., use ',' for European data).
lineterminator : str (length 1), optional
    Character used to denote a line break. Only valid with C parser.
quotechar : str (length 1), optional
    Character used to denote the start and end of a quoted item. Quoted
    items can include the ``delimiter`` and it will be ignored.
quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
    ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
    characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
    or ``lineterminator``.
doublequote : bool, default True
   When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    Character used to escape other characters.
comment : str (length 1), optional
    Character indicating that the remainder of line should not be parsed.
    If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter ``header`` but not by
    ``skiprows``. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
    treated as the header.
encoding : str, optional, default 'utf-8'
    Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

encoding_errors : str, optional, default 'strict'
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
    ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
    override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
    documentation for more details.
on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

    - ``'error'``, raise an Exception when a bad line is encountered.
    - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
    - ``'skip'``, skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - Callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new ``list`` of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine='python'``

    .. versionchanged:: 2.2.0

        - Callable, function with signature
          as described in `pyarrow documentation
          <https://arrow.apache.org/docs/python/generated/pyarrow.csv.ParseOptions.html
          #pyarrow.csv.ParseOptions.invalid_row_handler>`_ when ``engine='pyarrow'``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'\t'``) will be

In [45]:
df = pd.read_csv("C:\\Users\\shesh\\OneDrive\\Desktop\\shopping_trends.csv",header=None,skiprows=3)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
1,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
2,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
3,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Venmo,Standard,Yes,Yes,14,Venmo,Weekly
4,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,49,Cash,Quarterly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3893,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3894,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3895,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3896,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3897,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

df = pd.read_csv("C:\\Users\\shesh\\OneDrive\\Desktop\\shopping_trends.csv",nrows=7)
df

In [55]:
#USING Converters

In [49]:
def convert_Category_cell(cell):
    if cell=='Clothing':
        return 'Cloth'
        return cell

In [53]:
df = pd.read_csv("C:\\Users\\shesh\\OneDrive\\Desktop\\shopping_trends.csv",converters={'Category':convert_Category_cell})
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Cloth,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Cloth,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Cloth,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,None,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Cloth,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Cloth,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,None,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,None,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,None,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,None,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [59]:
df = pd.read_csv("C:\\Users\\shesh\\OneDrive\\Desktop\\shopping_trends.csv",na_values={'Category':["None",'n.a.']})
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,Cash,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,PayPal,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Credit Card,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,PayPal,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Bank Transfer,Store Pickup,No,No,33,Venmo,Quarterly

In [61]:
df = pd.read_excel("C:\\Users\\shesh\\OneDrive\\Desktop\\Demo1.xlsx")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Name,NaN,Email,Course
1,Hailey Antcliff,Hailey_Antcliff9757@yahoo.audio,Leadership,"Wednesday, December 14, 2022"
2,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
3,Carina Stubbs,Carina_Stubbs8509@jh02o.org,Accounting,"Sunday, December 4, 2022"
4,NaN,Ramon_Redden905@1kmd3.club,Design and technology,"Wednesday, December 7, 2022"
5,NaN,Maya_Randall2939@lhp4j.meet,NaN,NaN
6,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"
7,Freya Reynolds,Freya_Reynolds9608@bqkv0.site,Accounting,"Saturday, December 3, 2022"
8,Ronald Newton,Ronald_Newton1403@1kmd3.com,Design and technology,"Thursday, December 22, 2022"
9,Jack Hobbs,Jack_Hobbs4073@evyvh.auction,Design and technology,"Wednesday, December 7, 2022"

In [71]:
df = pd.read_excel("C:\\Users\\shesh\\OneDrive\\Desktop\\Demo1.xlsx",header=None)
df

,0,1,2,3
0,NaN,NaN,NaN,NaN
1,Name,NaN,Email,Course
2,Hailey Antcliff,Hailey_Antcliff9757@yahoo.audio,Leadership,"Wednesday, December 14, 2022"
3,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
4,Carina Stubbs,Carina_Stubbs8509@jh02o.org,Accounting,"Sunday, December 4, 2022"
5,NaN,Ramon_Redden905@1kmd3.club,Design and technology,"Wednesday, December 7, 2022"
6,NaN,Maya_Randall2939@lhp4j.meet,NaN,NaN
7,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"
8,Freya Reynolds,Freya_Reynolds9608@bqkv0.site,Accounting,"Saturday, December 3, 2022"
9,Ronald Newton,Ronald_Newton1403@1kmd3.com,Design and technology,"Thursday, December 22, 2022"
10,Jack Hobbs,Jack_Hobbs4073@evyvh.auction,Design and technology,"Wednesday, December 7, 2022"

In [75]:
df = pd.read_excel("C:\\Users\\shesh\\OneDrive\\Desktop\\Demo1.xlsx",header=1)
df

,Name,Unnamed: 1,Email,Course
0,Hailey Antcliff,Hailey_Antcliff9757@yahoo.audio,Leadership,"Wednesday, December 14, 2022"
1,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
2,Carina Stubbs,Carina_Stubbs8509@jh02o.org,Accounting,"Sunday, December 4, 2022"
3,NaN,Ramon_Redden905@1kmd3.club,Design and technology,"Wednesday, December 7, 2022"
4,NaN,Maya_Randall2939@lhp4j.meet,NaN,NaN
5,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"
6,Freya Reynolds,Freya_Reynolds9608@bqkv0.site,Accounting,"Saturday, December 3, 2022"
7,Ronald Newton,Ronald_Newton1403@1kmd3.com,Design and technology,"Thursday, December 22, 2022"
8,Jack Hobbs,Jack_Hobbs4073@evyvh.auction,Design and technology,"Wednesday, December 7, 2022"

In [81]:
df.columns = ["Name", "Email", "Course", "Date"]
df

,Name,Email,Course,Date
0,Hailey Antcliff,Hailey_Antcliff9757@yahoo.audio,Leadership,"Wednesday, December 14, 2022"
1,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
2,Carina Stubbs,Carina_Stubbs8509@jh02o.org,Accounting,"Sunday, December 4, 2022"
3,NaN,Ramon_Redden905@1kmd3.club,Design and technology,"Wednesday, December 7, 2022"
4,NaN,Maya_Randall2939@lhp4j.meet,NaN,NaN
5,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"
6,Freya Reynolds,Freya_Reynolds9608@bqkv0.site,Accounting,"Saturday, December 3, 2022"
7,Ronald Newton,Ronald_Newton1403@1kmd3.com,Design and technology,"Thursday, December 22, 2022"
8,Jack Hobbs,Jack_Hobbs4073@evyvh.auction,Design and technology,"Wednesday, December 7, 2022"

In [85]:
new_df=df.fillna('abc')
new_df

,Name,Email,Course,Date
0,Hailey Antcliff,Hailey_Antcliff9757@yahoo.audio,Leadership,"Wednesday, December 14, 2022"
1,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
2,Carina Stubbs,Carina_Stubbs8509@jh02o.org,Accounting,"Sunday, December 4, 2022"
3,abc,Ramon_Redden905@1kmd3.club,Design and technology,"Wednesday, December 7, 2022"
4,abc,Maya_Randall2939@lhp4j.meet,abc,abc
5,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"
6,Freya Reynolds,Freya_Reynolds9608@bqkv0.site,Accounting,"Saturday, December 3, 2022"
7,Ronald Newton,Ronald_Newton1403@1kmd3.com,Design and technology,"Thursday, December 22, 2022"
8,Jack Hobbs,Jack_Hobbs4073@evyvh.auction,Design and technology,"Wednesday, December 7, 2022"

In [95]:
new_df=df.fillna({'Course':'analytics','Date':'no event'})
new_df

,Name,Email,Course,Date
0,Hailey Antcliff,Hailey_Antcliff9757@yahoo.audio,Leadership,"Wednesday, December 14, 2022"
1,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
2,Carina Stubbs,Carina_Stubbs8509@jh02o.org,Accounting,"Sunday, December 4, 2022"
3,NaN,Ramon_Redden905@1kmd3.club,Design and technology,"Wednesday, December 7, 2022"
4,NaN,Maya_Randall2939@lhp4j.meet,analytics,no event
5,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"
6,Freya Reynolds,Freya_Reynolds9608@bqkv0.site,Accounting,"Saturday, December 3, 2022"
7,Ronald Newton,Ronald_Newton1403@1kmd3.com,Design and technology,"Thursday, December 22, 2022"
8,Jack Hobbs,Jack_Hobbs4073@evyvh.auction,Design and technology,"Wednesday, December 7, 2022"

In [135]:
new_df=df.drop([1,3,5],axis=0)
new_df                                                       #delete rowbased on index

              Name                 Course                          Date
0  Hailey Antcliff             Leadership  Wednesday, December 14, 2022
2    Carina Stubbs             Accounting      Sunday, December 4, 2022
4              NaN                    NaN                           NaN
6   Freya Reynolds             Accounting    Saturday, December 3, 2022
7    Ronald Newton  Design and technology   Thursday, December 22, 2022
8       Jack Hobbs  Design and technology   Wednesday, December 7, 2022

In [133]:

new_df.reset_index(inplace=True)
new_df                                                                         #reset the index deteled

,level_0,index,Name,Course,Date
0,0,0,Hailey Antcliff,Leadership,"Wednesday, December 14, 2022"
1,1,2,Carina Stubbs,Accounting,"Sunday, December 4, 2022"
2,2,4,NaN,NaN,NaN
3,3,6,Freya Reynolds,Accounting,"Saturday, December 3, 2022"
4,4,7,Ronald Newton,Design and technology,"Thursday, December 22, 2022"
5,5,8,Jack Hobbs,Design and technology,"Wednesday, December 7, 2022"

In [149]:
new_df.head()

                                Course                          Date
Name
Hailey Antcliff             Leadership  Wednesday, December 14, 2022
Carina Stubbs               Accounting      Sunday, December 4, 2022
NaN                                NaN                           NaN
Freya Reynolds              Accounting    Saturday, December 3, 2022
Ronald Newton    Design and technology   Thursday, December 22, 2022

In [171]:
df = pd.read_excel("C:\\Users\\shesh\\OneDrive\\Desktop\\Demo1.xlsx",header=1)
df

,Name,Unnamed: 1,Email,Course
0,Hailey Antcliff,Hailey_Antcliff9757@yahoo.audio,Leadership,"Wednesday, December 14, 2022"
1,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
2,Carina Stubbs,Carina_Stubbs8509@jh02o.org,Accounting,"Sunday, December 4, 2022"
3,NaN,Ramon_Redden905@1kmd3.club,Design and technology,"Wednesday, December 7, 2022"
4,NaN,Maya_Randall2939@lhp4j.meet,NaN,NaN
5,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"
6,Freya Reynolds,Freya_Reynolds9608@bqkv0.site,Accounting,"Saturday, December 3, 2022"
7,Ronald Newton,Ronald_Newton1403@1kmd3.com,Design and technology,"Thursday, December 22, 2022"
8,Jack Hobbs,Jack_Hobbs4073@evyvh.auction,Design and technology,"Wednesday, December 7, 2022"

In [173]:
df=df.replace({'Leadership':'Managememt'})
df

,Name,Unnamed: 1,Email,Course
0,Hailey Antcliff,Hailey_Antcliff9757@yahoo.audio,Managememt,"Wednesday, December 14, 2022"
1,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
2,Carina Stubbs,Carina_Stubbs8509@jh02o.org,Accounting,"Sunday, December 4, 2022"
3,NaN,Ramon_Redden905@1kmd3.club,Design and technology,"Wednesday, December 7, 2022"
4,NaN,Maya_Randall2939@lhp4j.meet,NaN,NaN
5,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"
6,Freya Reynolds,Freya_Reynolds9608@bqkv0.site,Accounting,"Saturday, December 3, 2022"
7,Ronald Newton,Ronald_Newton1403@1kmd3.com,Design and technology,"Thursday, December 22, 2022"
8,Jack Hobbs,Jack_Hobbs4073@evyvh.auction,Design and technology,"Wednesday, December 7, 2022"

In [175]:
df=df.groupby('Email')
df

In [177]:
for Email,Email_df in df:
    print(Email)
    print(Email_df)

Accounting
             Name                     Unnamed: 1       Email  \
2   Carina Stubbs    Carina_Stubbs8509@jh02o.org  Accounting
6  Freya Reynolds  Freya_Reynolds9608@bqkv0.site  Accounting

                       Course
2    Sunday, December 4, 2022
6  Saturday, December 3, 2022
Analytics
           Name                        Unnamed: 1      Email  \
1  Harvey Reyes  Harvey_Reyes9354@voylg.directory  Analytics
5   Matt Ashley                      Maya Randall  Analytics

                      Course
1  Friday, December 30, 2022
5  Friday, December 30, 2022
Design and technology
            Name                    Unnamed: 1                  Email  \
3            NaN    Ramon_Redden905@1kmd3.club  Design and technology
7  Ronald Newton   Ronald_Newton1403@1kmd3.com  Design and technology
8     Jack Hobbs  Jack_Hobbs4073@evyvh.auction  Design and technology

                        Course
3  Wednesday, December 7, 2022
7  Thursday, December 22, 2022
8  Wednesday, December 7, 2022
Managememt
              Name                       Unnamed: 1       Email  \
0  Hailey Antcliff  Hailey_Antcliff9757@yahoo.audio  Managememt

                         Course
0  Wednesday, December 14, 2022

In [179]:
df.get_group('Analytics')

,Name,Unnamed: 1,Email,Course
1,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
5,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"

In [203]:
df = pd.read_excel("C:\\Users\\shesh\\OneDrive\\Desktop\\Demo1.xlsx",header=None)
df
df.columns = ["Name", "Email", "Course", "Date"]
df
df = df.drop([0, 1]).reset_index(drop=True)
df

,Name,Email,Course,Date
0,Hailey Antcliff,Hailey_Antcliff9757@yahoo.audio,Leadership,"Wednesday, December 14, 2022"
1,Harvey Reyes,Harvey_Reyes9354@voylg.directory,Analytics,"Friday, December 30, 2022"
2,Carina Stubbs,Carina_Stubbs8509@jh02o.org,Accounting,"Sunday, December 4, 2022"
3,NaN,Ramon_Redden905@1kmd3.club,Design and technology,"Wednesday, December 7, 2022"
4,NaN,Maya_Randall2939@lhp4j.meet,NaN,NaN
5,Matt Ashley,Maya Randall,Analytics,"Friday, December 30, 2022"
6,Freya Reynolds,Freya_Reynolds9608@bqkv0.site,Accounting,"Saturday, December 3, 2022"
7,Ronald Newton,Ronald_Newton1403@1kmd3.com,Design and technology,"Thursday, December 22, 2022"
8,Jack Hobbs,Jack_Hobbs4073@evyvh.auction,Design and technology,"Wednesday, December 7, 2022"

In [205]:
df1=pd.melt(df,id_vars=['Email'])
df1                                                                                 #Melt

                               Email variable                         value
0    Hailey_Antcliff9757@yahoo.audio     Name               Hailey Antcliff
1   Harvey_Reyes9354@voylg.directory     Name                  Harvey Reyes
2        Carina_Stubbs8509@jh02o.org     Name                 Carina Stubbs
3         Ramon_Redden905@1kmd3.club     Name                           NaN
4        Maya_Randall2939@lhp4j.meet     Name                           NaN
5                       Maya Randall     Name                   Matt Ashley
6      Freya_Reynolds9608@bqkv0.site     Name                Freya Reynolds
7        Ronald_Newton1403@1kmd3.com     Name                 Ronald Newton
8       Jack_Hobbs4073@evyvh.auction     Name                    Jack Hobbs
9    Hailey_Antcliff9757@yahoo.audio   Course                    Leadership
10  Harvey_Reyes9354@voylg.directory   Course                     Analytics
11       Carina_Stubbs8509@jh02o.org   Course                    Accounting
12        Ramon_Redden905@1kmd3.club   Course         Design and technology
13       Maya_Randall2939@lhp4j.meet   Course                           NaN
14                      Maya Randall   Course                     Analytics
15     Freya_Reynolds9608@bqkv0.site   Course                    Accounting
16       Ronald_Newton1403@1kmd3.com   Course         Design and technology
17      Jack_Hobbs4073@evyvh.auction   Course         Design and technology
18   Hailey_Antcliff9757@yahoo.audio     Date  Wednesday, December 14, 2022
19  Harvey_Reyes9354@voylg.directory     Date     Friday, December 30, 2022
20       Carina_Stubbs8509@jh02o.org     Date      Sunday, December 4, 2022
21        Ramon_Redden905@1kmd3.club     Date   Wednesday, December 7, 2022
22       Maya_Randall2939@lhp4j.meet     Date                           NaN
23                      Maya Randall     Date     Friday, December 30, 2022
24     Freya_Reynolds9608@bqkv0.site     Date    Saturday, December 3, 2022
25       Ronald_Newton1403@1kmd3.com     Date   Thursday, December 22, 2022
26      Jack_Hobbs4073@evyvh.auction     Date   Wednesday, December 7, 2022

In [215]:
df1[df1['variable'] == 'Date']

                               Email variable                         value
18   Hailey_Antcliff9757@yahoo.audio     Date  Wednesday, December 14, 2022
19  Harvey_Reyes9354@voylg.directory     Date     Friday, December 30, 2022
20       Carina_Stubbs8509@jh02o.org     Date      Sunday, December 4, 2022
21        Ramon_Redden905@1kmd3.club     Date   Wednesday, December 7, 2022
22       Maya_Randall2939@lhp4j.meet     Date                           NaN
23                      Maya Randall     Date     Friday, December 30, 2022
24     Freya_Reynolds9608@bqkv0.site     Date    Saturday, December 3, 2022
25       Ronald_Newton1403@1kmd3.com     Date   Thursday, December 22, 2022
26      Jack_Hobbs4073@evyvh.auction     Date   Wednesday, December 7, 2022